*{
    margin: 0;
    padding: 0;
}

body {
    background: url(../img/fundo.jpg) no-repeat;
    background-size: 100%;
}

img {
    width: 60px;
}

nav {
    background: rgba(20, 12, 12, 0.6);
   width: 200px;
   height: 100%;
   position: absolute;
   left:-200px;
   font-size: 16px;
   transition: .5s;
}

input[type="checkbox"]{
    display: none; /*hidden*/
}

input[type="checkbox"]:checked~nav{
    transform: translatex(200px);
}

ul{
    list-style: none;
    padding-top: 70px;
}

a{
    
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #fff;
}

label{
    padding: 20px;
    position: absolute;
    z-index: 1;
}


a:hover{
    background: rgba(160, 138, 221, 0.6);
}