*{margin:0; padding:0;}

.slider {
    width:400px;
    height: 300px;
    margin: 50px auto;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.7);
    overflow: hidden;
}

ul{
    list-style: none;
    width: 1600px;
    height:300px;
    display: flex;
}

li{
    position: relative;
    animation: deslizar 10s linear infinite;
}

@keyframes deslizar {
    0% {left:0px;}
    5% {left:-400px;}
    25%{left: -400px;}
    30%{left: -800px;}
    50%{left: -800px;}
    55%{left: -1200px;}
    75%{left: -1200px;}
    80%{left: -1600px;}
    100%{left: -1600px;}
    
}